.container-fluid.pt-3.d-flex.justify-content-between
	div
		| Deployed by
		|
		span.lead {{name}} v{{version}}
	ul.list-inline.lead
		li.list-inline-item(ng-repeat='link in links'): a(ng-href='{{link.url}}'): span.fa-brands(ng-class='"fa-"+link.icon')