@blur: .5em;
@scale: .9;
@duration: 5s;

@keyframes blur {
	0% {
		filter: blur(0);
		transform: scale(1);
	}

	50% {
		filter: blur(@blur);
		transform: scale(@scale);
	}

	100% {
		filter: blur(0);
		transform: scale(1);
	}
}

.img-fluid {
	animation: blur @duration ease-in-out infinite;
}